@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.product_title{
    height: 2.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.MuiDataGrid-toolbarContainer{
  flex-direction: row-reverse;
}



.table-scrollable {
  width: 100%;
  border-collapse: collapse;
}

@media (max-width: 680px) { 
  .table-scrollable {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}


@media (min-width: 682px) { 
  .table-scrollable {
    overflow-x: hidden;
  }
}
@media (max-width: 680px) { 
  .table-scrollable td {
    min-width: 120px; 
  }
}


.name-cell {
  display: flex;
  gap: 16px; 
  align-items: center;
  /* padding: 16px;  */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}




