@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.product_title{
    height: 2.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.MuiDataGrid-toolbarContainer{
  flex-direction: row-reverse;
}




/* .slick-list {
  padding: 0 10%;
} */



